.content-1 {
  width: inherit;
  background: linear-gradient(
    90deg,
    rgba(217, 167, 199, 0.81) 0%,
    rgba(255, 252, 220, 0.59) 100%
  );
  text-align: center;
}
.txt {
  margin: 2rem;
}
h1 {
  font-size: 2.55rem;
}
#custom-txt {
  color: var(--gold-col);
  font-family: "Montserrat" ;
}
#virtual-txt {
  color: var(--pry-col);
  font-family: "Montserrat";
}
article > div > h2 {
  font-family: "Montserrat", sans-serif;
}
.phone {
  padding-top: 50px;
  padding-left: 100px;
}
.white {
  padding-top: 90px;
}
.red {
  padding-top: 200px;
  padding-left: 250px;
  position: absolute;
  z-index: 0;
}
.content-1 p {
  padding-top: 10px;
  padding-bottom: 100px;
  font-size: 20px;
  font-family: "Manrope";
  color: var(--purple-700);
  font-weight: 600;
}
.content-2 {
  display: flex;
  flex-direction: row;
  font-family: "Radley" sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
}
.content-2-img {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}
.about {
  padding: 50px 50px 0px 150px;
}

.about h2 {
  font-weight: 600;
}
.about p {
  padding: 50px 100px 90px 0px;
}
