body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  width: inherit;
  display: flex;
  flex-direction: column;
}
.hero {
  width: inherit;
  background: linear-gradient(
    90deg,
    rgba(217, 167, 199, 0.81) 0%,
    rgba(255, 252, 220, 0.59) 100%
  );
}
.page-content {
  width: inherit;
  display: flex;
  flex-direction: column;
}
section {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  margin: 0 auto;
}
section > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
}
section > div > h2 {
  font-family: "Montserrat", sans-serif;
}
section > div > p {
  line-height: 1.75;
}
.sect-one > div > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  color: var(--sec-col);
}
#ox-col-txt {
  color: var(--pry-col);
}
button {
  cursor: pointer;
  max-width: 7rem;
  min-height: 2rem;
  border: none;
  border-radius: var(--border-rad);
  background: var(--pry-col);
  color: var(--white-col);
  box-shadow: var(--boxShadow);
}
button:hover {
  background: var(--sec-col);
}
.svg-img,
.hero-img,
.home-img {
  width: 90%;
}
#sect-three {
  background: var(--faded-pink);
}
@media (min-width: 700px) {
  section {
    max-width: 80vw;
    justify-content: space-between;
    flex-direction: row;
  }
  .sect-two {
    padding: 5rem 0;
  }
  .hero-img {
    max-width: 50%;
  }
  .svg-img {
    max-width: 35%;
  }
  .home-img {
    max-width: 360px;
  }
  .hero {
    padding: 3rem 0;
  }
  .sect-one > div > h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  section > div {
    max-width: 40%;
  }
  .sect-three {
    flex-direction: row-reverse;
  }
}
