@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Montserrat:wght@400;500;600;700&display=swap');

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
}

a:hover {
  text-decoration: underline;
}

img{
  max-width: 100%;
}

button {
  cursor: pointer;
}

/* ====================
   ** Typography **
  =================== */

h1 {
	font-size: 2rem;
	margin-bottom: 0.35rem;
}

/* =================
  HEADER SECTION
  ================ */

.page-header {
	display: flex;
  align-items: center;
	justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.brand-logo {
  width: 12%;
  padding: 1rem 2rem;
}

.brand-logo a {
  color: rgb(189, 30, 81);
  font-size: 1.25rem;
  font-weight: 700;
}

.nav-bar {
  padding-right: 1rem;
  display: flex;
  align-items: center;
}
  .nav-bar a {
  font-weight: 500;
  color: rgb(189, 30, 81);
}

.nav-bar ul {
	list-style: none;
	display: flex;
	align-items: center;
}

.nav-bar ul li{
  padding: 0 1rem;
}

.nav-bar img {
  display: none;
  margin-right: 1rem;
  width: 2rem;
  cursor: pointer;
}

.nav-bar button {
	border: none;
  border-radius: 0.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	letter-spacing: 0.05rem;
	padding: 1rem;
  color: rgb(255, 255, 255);
	background-color: rgb(189, 30, 81);
}

.page--active {
  font-weight: 700;
  text-decoration: underline;
}

/* ====================
  PAGE TEASER SECTION
  =================== */

.page-teaser {
  padding: 2rem;
  background-color: rgb(13, 111, 197);
  background-image: -moz-linear-gradient( 0deg, rgb(224,177,207) 0%, rgb(254,252,234) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(224,177,207) 0%, rgb(254,252,234) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(224,177,207) 0%, rgb(254,252,234) 100%);
  text-align: center;
}

.page-teaser h1{
  color: rgb(189, 30, 81);
}

.page-teaser p{
  margin: 0 auto;
  padding: 1rem 26rem;
  width: 100%;
}

.page-teaser input {
  margin: 1rem 2rem;
	padding: 1rem;
  width: 48%;
	height: 4rem;
  border: none;
	border-radius: 0.75rem;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
}

.search--bar{
  position: relative;
}

.search--bar img {
	width: 1.5rem;
	position: absolute;
	top: 36%;
	right: 29%;
	z-index: 899;
}

/* ====================
  CARD DESIGN SECTION
  =================== */

  .card-design--section {
    padding: 4rem 5.5rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }

.card--design {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.25rem;
  padding: 1rem;
  background-color: rgb(250, 250, 250);
  border-radius: 1rem;
  transition: 0.5s ease-in-out;
}

.card--design:hover {
  box-shadow: 0 3px 2px 0 rgba(85, 85, 85, 0.5);
}

.card {
  width: 48.5%;
}

.card-design--preview {
  display: inline-block;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.card-design--preview:hover {
  width: 102%;
}

.colour--pick {
  display: flex;
}

.colour--pick img {
	margin: -0.1rem 1rem;
	width: 1.65rem;
	height: 1.65rem;
}

.card p {
  margin: 0 0 0.7rem 0;
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.card--info{
  margin-top: 1rem;
}

/* =================
  FOOTER SECTION
  ================ */

.page-footer {
  padding: 2rem 5.5rem 1rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 2fr repeat(2, 1fr);
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(61, 9, 51);
}

.page-footer a {
  color: rgb(255, 255, 255);
}

.page-footer img{
  width: 1.65rem;
  margin-right: 1rem;
  color: rgb(255, 255, 255);
}

.page-footer ul {
  padding: 0;
  list-style: none;
}

.page-footer h2,
.page-footer p,
.page-footer--links h3 {
  margin-bottom: 1rem;
}

.page-footer a,
.page-footer p {
  font-size: 0.875rem;
}

.page-footer--copy {
  margin: 0 auto;
	grid-column: 1 / 4;
	grid-row: 2;
}


/* ========================
  EXTRA LARGE SCREENS, TV
  (1201px and More+)
========================*/
@media only screen and (max-width: 1319px) {
  .page-teaser p {
    padding: 1rem 22rem;
  }

  .page-footer {
    gap: 2rem;
  }
}

@media only screen and (max-width:1191px) {
  .page-teaser p {
    padding: 1rem 20rem;
  }
}

@media only screen and (max-width:1127px) {
  .page-teaser p {
    padding: 1rem 18rem;
  }

  .page-teaser input {
    width: 52%;
  }
}

/* ========================
  DESKTOPS, LARGE SCREENS
  (1025px - 1200px)
========================*/
@media only screen and (max-width: 1063px) {
  .page-teaser p {
    padding: 1rem 16rem;
  }
}

@media only screen and (max-width: 1024px) {
  .search--bar img {
    right: 26.5%;
  }

  .page-teaser input {
    width: 55%;
  }
}


/* ========================
  SMALL SCREENs, LAPTOPS
  (769px - 1024px)
========================*/
@media only screen and (max-width: 999px) {
  .page-teaser p {
    padding: 1rem 13rem;
  }

  .page-teaser input {
    width: 60%;
  }
}

@media only screen and (max-width: 934px) {
  .page-teaser p {
    padding: 1rem 12rem;
  }
}

@media only screen and (max-width: 870px) {
  .page-teaser p {
    padding: 1rem 10rem;
  }
}

@media only screen and (max-width: 806px) {
  .page-teaser p {
    padding: 1rem 8rem;
  }
}

/* ========================
  IPADS & TABLETS
  (481px - 768px)

  Font Sizes, Margins and Paddings
========================*/
@media only screen and (max-width: 768px) {
  .page-teaser input {
    width: 80%;
  }

  .search--bar img {
    right: 12.5%;
  }

  .card-design--section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media only screen and (max-width: 743px) {
  .page-teaser p {
    padding: 1rem 6rem;
  }
}

@media only screen and (max-width: 688px) {
  .page-teaser h1 {
    padding: 0 4rem;
  }

  .page-teaser input {
    width: 90%;
  }

  .card-design--section {
    padding: 2rem 2.5rem;
  }
}

@media only screen and (max-width: 670px) {
  .nav-bar img {
    display: block;
  }

  .nav-bar ul {
    display: block;
    position: fixed;
    top: 10%;
    right: -100%;
    z-index: 999;
    width: 50%;
    height: 100vh;
    text-align: center;
    background-color: rgb(189, 30, 81);
    transition: all 0.5s ease-in-out;
  }

  .nav-bar li {
    display: block;
    margin: 2rem;
    line-height: 2rem;
  }

  .nav-bar a {
    color: rgb(255, 255, 255);
  }

  .nav-bar button {
    letter-spacing: 0;
    border: 0.2rem rgb(255, 255, 255) solid;
    color: rgb(255, 255, 255) solid;
    background-color: none;
    transition: all 0.5s ease-in-out;
  }

  .nav-bar button:hover {
    color: rgb(189, 30, 81);
    background-color: rgb(255, 255, 255);
  }

  .show-bar {
    right: 0;
  }

  .page-teaser p {
    padding: 1rem 2rem;
  }
}

/* ========================
  MOBILE DEVICES
  (320px - 480px)
========================*/
@media only screen and (max-width: 480px) {
  .page-teaser input {
    margin: 1rem 0rem;
    width: 90%;
  }

  .search--bar img {
    right: 9.5%;
  }

  .card-design--section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .card--design {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .card {
    width: 90%;
  }

  .page-footer {
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .page-footer--links {
    line-height: 1.5rem;
  }

  .page-footer--copy {
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .card {
    width: 100%;
  }

  .page-teaser p {
    padding: 1rem 2rem;
  }
}