.login-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  margin: auto;
  gap: 0.75rem;
}
#vec-grahic {
  align-self: center;
  max-width: 60%;
}
.login-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-info > h2 {
  color: var(--sec2-col);
}
.login-info > p {
  color: var(--sec2-col);
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  gap: 1rem;
}
input {
  border: none;
  background: var(--faded-pink);
  padding: 0.75rem;
}
#forgot {
  text-align: right;
  color: var(--blue);
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
button {
  min-height: 2.5rem;
  border: none;
  border-radius: var(--border-rad);
  background: var(--pry-col);
  color: var(--white-col);
  box-shadow: var(--boxShadow);
}
label {
  color: var(--faded-sec2-col);
  font-family: "Inter", sans-serif;
}
span {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.75rem;
}
span > a {
  color: var(--blue);
}
@media (min-width: 700px) {
  .login-container {
    padding: 6rem 0;
    flex-direction: row;
    justify-content: space-around;
  }
  #vec-grahic {
    max-width: 30%;
  }
  .login-info {
    min-width: 40%;
  }
  span {
    margin-top: 2rem;
  }
}
