.signup-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  margin: auto;
  gap: 0.75rem;
}
.left-side {
  display: none;
}
#vec-grahic {
  align-self: center;
  max-width: 20%;
}
.right-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right-side > h2 {
  color: var(--sec2-col);
}
.name-div, .email-div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.name-div > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#chk {
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 100%;
  margin-bottom: 1rem;
}
.check{
  font-size: 0.75rem;
}
button {
  min-height: 2.5rem;
  border: none;
  border-radius: var(--border-rad);
  background: var(--pry-col);
  color: var(--white-col);
  box-shadow: var(--boxShadow);
}

@media (min-width: 700px) {
  .signup-container {
    padding: 6rem 0;
    flex-direction: row;
    justify-content: space-around;
  }
  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #vec-grahic {
    display: none;
  }
  .right-side {
    min-width: 40%;
  }
  .name-div {
    flex-direction: row;
  }
  .name-div > div {
    flex-direction: column;
    min-width: 48%;
  }
  .yellow-box {
    border: solid .5rem var(--gold-col);
    border-radius: var(--border-rad);
    padding: .75rem;
    max-width: 60%;
    margin: 2rem 0;
    font-size: .95rem;
  }
  .left-side > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: bold;
  }
}

