@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  --pry-col: hsla(341, 73%, 43%, 1);
  --faded-pry-col: hsla(341, 73%, 43%, 0.2);
  --purple-700: #3D0933;
  --sec-col: hsla(331, 73%, 26%, 1);
  --sec2-col: hsl(312, 74%, 16%);
  --faded-sec2-col: hsla(312, 74%, 16%, 0.6);
  --white-col: hsl(0, 0%, 100%);
  --faded-pink: hsla(341, 55%, 89%, 0.15);
  --gold-col: 	hsl(45, 88%, 59%);
  --border-rad: 0.25rem;
  --boxShadow: 0 0.1rem 0.25rem 0 hsla(240, 1%, 85%, 0.28);
  --blue: hsl(205, 41%, 48%);
}
body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
main {
  width: inherit;
  display: flex;
  flex-direction: column;
}
.search{
  display: none;
}
.menu-list {
  display: none;
}

header {
  min-height: 10vh;
  min-width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--boxShadow);
}

nav {
  min-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
}
.proj{
  color: var(--sec-col);
}
.gen {
  color: var(--pry-col);
}
.top-logo, .bottom-logo{
  font-weight: bold;
  font-size: 1.5rem;
}
.top-logo{
  color: var(--purple-700);
}
.bottom-logo{
  color: var(--pry-col);
}
.hidden{
  display: none;
}
#open-menu, #close-menu {
  cursor: pointer;
}
.mobile-menu{
  position: absolute;
  top: 10vh;
  transform: translateX(-100%);
  min-height: 90vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.9) 33%,
    rgba(255, 255, 255) 66%,
    rgba(255, 255, 255) 100%
  );
  padding: 1.5rem;
  touch-action: none;
  transition: .4s ease-in;
  
}
 .active{
  transform: translateX(0);
}
.mob-menu-list{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  font-weight: bold;
}
.mob-menu-list > li > a {
  color: black;
  font-family: "Inter", sans-serif;
}
#bg-li {
  background-color: var(--pry-col);
  padding: 0.75rem 1rem;
  border-radius: var(--border-rad);
  box-shadow: var(--boxShadow);
}
#bg-li > a {
  color: var(--white-col);
}
a,
#checkbox,
button {
  cursor: pointer;
}
.cta {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.75rem;
}
.cta > a,
.check > a {
  color: var(--blue);
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  gap: 1rem;
}
label {
  color: var(--faded-sec2-col);
  font-family: "Inter", sans-serif;
}
input {
  border: solid .1rem var(--faded-pink);
  background: var(--faded-pink);
  padding: 0.75rem;
  border-radius: var(--border-rad);
}
input:focus {
  outline-color: var(--faded-pry-col);
}
button:hover {
  background: var(--sec-col);
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  background: var(--purple-700);
  color: var(--white-col);
}
.top-footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  font-size: small;
}
#sect-five {
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
#sect-five > div {
  display: flex;
  gap: 1rem;
}
.sf-about {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sf-about > h2,
#sect-six > div > h3 {
  font-family: "Inter", sans-serif;
}
.sf-about > p {
  line-height: 1.75;
}
#sect-six {
  flex-direction: row;
  justify-content: space-between;
}
.foot-list > li > a {
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--white-col);
}
.footer-CR {
  font-size: 0.75rem;
}

#mySideNav{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 3rem;
  transition: 0.5s;
}
#mySideNav a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  display: block;
  transition: 0.3s;
}

@media (min-width: 700px) {
  #open-menu, .mobile-menu {
    display: none;
  }
  .menu-list, .header-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
    font-size: 0.95rem;
    cursor: pointer;
  }
  #mySideNav{
    width: 60%;
    height: auto;
    position: relative;
    z-index: 1;
    flex-direction: row;
    justify-content: space-around;
    /*top: 0;
    right: 0;*/
    background-color: #F2D2DC;
    overflow-x: hidden;
    padding-top: 0;
    transition: 0.5s;
  }
  .close-click{
    display: none;
  }
  .menu-list > li > a {
    color: black;
    font-family: "Inter", sans-serif;
  }
  .menu-list > li > a:focus{
    border-bottom: 0.15rem solid var(--pry-col);
  }
  #bg-li {
    background-color: var(--pry-col);
    padding: 0.75rem 1rem;
    border-radius: var(--border-rad);
    box-shadow: var(--boxShadow);
  }
  #bg-li > a {
    color: var(--white-col);
  }
  .cta {
    margin-top: 2rem;
  }
  .top-footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
  }
  #sect-five {
    max-width: 36%;
  }
  #sect-six {
    justify-content: space-evenly;
  }
  .footer-about {
    max-width: 76%;
  }
  .header {
    background-color: #F2D2DC;
  }
  .search, .header-menu a{
    color: #050505;
  }
  .header-menu > li:last-child a{
    color: #FFFFFF;
    border: 1px solid var(--purple-700);
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
  .search {
    display: block;
    position: relative;
  }
  .search input{
    background-color: white;
    padding-left: 2rem;
    width: 20rem;
  }
  .search i{
    position: absolute;
    color: var(--purple-700);
    top: 13px;
    left: 5px;
  }

}
