.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: var();
  width: 90%;
  margin: auto;
  padding: 2rem 0;
}
.wel-come {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--pry-col);
}
.lo-gin,
.gene-rate {
  font-size: 1.25rem;
}
#vec-grahic {
  align-self: center;
  max-width: 60%;
}
.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn-group > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pry-col);
  min-height: 2.25rem;
  width: 100%;
  border-radius: var(--border-rad);
  box-shadow: var(--boxShadow);
}
.btn-group > div > a {
  text-decoration: none;
  color: var(--white-col);
}
#btn2 {
  background: var(--sec-col);
}
#btn3 {
  width: 50%;
  align-self: flex-end;
  background: #3F0A1B;
}
@media (min-width: 700px) {

}

     


