body {
    width: 1440px;
    background: white;
    background-color: white;
    font-size: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 4.3rem auto;
    gap: 1.7rem;
}

input {
    display: block;

}


#container {
    background-color: white;
    padding: 1.2rem;
    width: 90%;
    position: relative;
    left: 700px;
    top: 10px;

}


#container input {
    padding: 1.2rem;
    width: 90%;
    margin: 20px auto;
    border-radius: none;
    width: 90%;
    box-shadow: 1px solid rgb(211, 208, 208);




}

button {
    border: none;
    background-color: hsl(0, 57%, 32%);
    padding: 1.2rem;
    width: 98%;
    border-radius: 8px;
    color: white;



}

#_cc {
    box-sizing: border-box;
        position: absolute;
        width: 362px;
        left: 181px;
        top: 614px;
        border: 7px solid #F3C43B;
        height: 60px;
        font-family: 'Radley';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        /* or 100% */
        /* purple/1100 */
        color: #0F020C;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;



}

h1 {
    color: rgb(138, 49, 74);
    width: 60%;
}

p {
    color: black;
}

span {
    color: skyblue;
}


#gen {
    color: hsl(0, 66%, 37%);


}